<section>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center" data-mdb-theme="dark">
                <h1 class="display-1 fw-bold">ChocoTruffle</h1>
                <h5 class="mb-4">Empowering Tomorrow's Leaders</h5>
            </div>
          </div>
        </div>

      </div>
      <div class="mt-5">
        <div class="container">
      <!--Section: Content-->
        <div class="row">
          <div class="col-md-6 gx-5 mb-4 ">
            <div class="bg-image hover-overlay shadow-2-strong " data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="./img2.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>
  
          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Empowering Tomorrow's Leaders at ChocoTruffle Academy</strong></h4>
            <p class="text-muted">
              Welcome to ChocoTruffle Academy, a distinguished institution committed to academic excellence and holistic development. Our vibrant campus fosters a diverse community, offering a range of programs that empower students to pursue their passions. With state-of-the-art facilities and experienced faculty, we prepare graduates to thrive in a dynamic world. Join us in cultivating innovation, critical thinking, and global citizenship as we shape tomorrow's leaders.
            </p>
            <p><strong>Academic Excellence at ChocoTruffle Academy</strong></p>
            <p class="text-muted">
                At ChocoTruffle we celebrate our top rankings and outstanding faculty, renowned for their contributions to research and education. Our rigorous programs and high graduation rates prepare students for successful careers in a dynamic world.
            </p>
          </div>
        </div>
      <hr class="my-5" />
      <!--Section: Content-->
      <section class="text-center">
        <h2 class="mb-5"><strong>Hot Courses</strong></h2>
  
        <div class="row  ">
          <div class="col-lg-4 col-md-12 mb-4 ">
            <div class="card border-info">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img
                     src="./da.jpg"
                     class="img-fluid"
                     />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body text-white bg-info">
                <h5 class="card-title fw-bold">Data Analytics</h5>
                <p class="card-text ">
                    Data Analytics transforms raw data into actionable insights, 
                    empowering organizations to make informed decisions 
                    and drive strategic growth.
                </p>
                <!-- <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a> -->
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-info">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img
                     src="./ai.jpg"
                     class="img-fluid"
                     />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body text-white bg-info">
                <h5 class="card-title fw-bold">Artificial Intelligence</h5>
                <p class="card-text">
                    Artificial Intelligence is revolutionizing industries by 
                    automating tasks and providing advanced insights through 
                    machine learning and deep learning technologies.
                </p>
                <!-- <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a> -->
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border-info">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img
                     src="./cs.jpg"
                     class="img-fluid"
                     />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body text-white bg-info">
                <h5 class="card-title fw-bold">Cyber Security</h5>
                <p class="card-text">
                    Cyber Security is essential for protecting sensitive information and systems from digital threats, ensuring the safety and integrity of our online environments.
                </p>
                <!-- <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
  
      <hr class="my-5" />

    </div>
    </div>
</section>
  <!--Main layout-->
  
 