<br>
<br>
<br>
<br>
<div class="container">
    <div class="card-deck custom-card">
        <br>
        <div class="card">
            <h4>Maths Tutor</h4>
            <p class="heading custom-text" style=" background-clip: text;">
                QuickAccess
            </p>
        </div>
        <br>
        <div class="card">
            <h4>Biology Tutor</h4>
            <p class="heading custom-text" style=" background-clip: text;">
                QuickAccess
            </p>
        </div><br>
        <div class="card">
            <h4>Physics Tutor</h4>
            <p class="heading custom-text" style=" background-clip: text;">
                QuickAccess
            </p>
        </div><br>
        <div class="card">
            <h4>CS Tutor</h4>
            <p class="heading custom-text" style=" background-clip: text;">
                QuickAccess
            </p>
        </div>

    </div>
</div>