<br>
<br>
<br>
<br>
<div class="card-deck custom-card">
    <br>
    <div class="card">
        <h4>Flickering Lights</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    <br>
    <div class="card">
        <h4>Adding Outlets</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div><br>
    <div class="card">
        <h4>Shocking Outlets</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div><br>
    <div class="card">
        <h4> Installing a Generator</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    <br>
    <div class="card">
        <h4>Tripping Breakers</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    
</div>