<p>data-binding works!</p>
<hr>
<div>
    <h1>{{courseName}} </h1>
    <p>Angular is a platform and framework for building <br> single-page client applications using HTML and TypeScript.<br> Angular is written in TypeScript.<br> It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.</p>
    <br>
    <h2>Hy guys , i am {{name}} from {{city}}</h2>
    <br>
    <h2>{{currentDate}}</h2><br>
    <h2>{{isIndian}}</h2><br>
    <input type ="{{inputType}}"/><br>
    <input type ="{{inputType1}}"/><br>
    <h1>{{inputType}}</h1>

</div>
