
<br>
<br>
<br>
<br>
<div class="card-deck custom-card">
    <br>
    <div class="card">
        <h4>Replacements of Pipes</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    <br>
    <div class="card">
        <h4>Shower and Bathtub Repairs</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div><br>
    <div class="card">
        <h4>Leaky Faucets and Taps</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div><br>
    <div class="card">
        <h4>Clogged Drains</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    <br>
    <div class="card">
        <h4>Kitchen Sink Repairs</h4>
        <p class="heading custom-text" style=" background-clip: text;">
            QuickAccess
        </p>
    </div>
    
</div>